footer
  .footer-content.container.d-flex.justify-content-centre.mt-5.pb-4
    a.text-white.footer-link(href='') Телеграм
    a.text-white.footer-link(href='') ВКантакте
    a.text-white.footer-link(href='') Инстаграм
